@import 'shared/scss/variables.scss';

.root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  min-height: 100%;

  > :last-child {
    flex-grow: 1;
  }
}

.title {
  font-family: $font-main;
  font-style: normal;
  font-weight: 500;
  font-size: 29.4109px;
  line-height: 102.02%;
  letter-spacing: -0.05em;
  color: $color-main;
}
